<html><head></head><body>
<div align="center"><a href="itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/RomanYudintsev/bb/HASH_FOR_LINKS/manifest.plist"><font size="30">Install App</font></a></div>
</body></html>
